.exp {
	grid-area: exp;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 10;
	border-style: solid;
	border-color: #036;
	text-align: center;
	color: black;
	padding: 10px;
}