$colorHeader: #FFFFFF;
$colorMain: #c69;
$colorFooter: #6b717f;
$fuentePrincipal: Verdana;
$fuenteBoton: 'Pacifico', cursive;
$fuenteTamanioboton: 26px;
$fuenteExp: 'Signika', sans-serif;
$fuenteExpTamanio: 20px;
$colorFuenteExp: #6b717f;
$fuenteColor: #FFFFFF;
$colorAside: #d2e1dd;